img/
dashboard/
favicon.ico
webalizer/
applications.html
bitnami.css
xampp/
servicios.js
solicitudser.php
solicitudservicio.php
agregarservicio.php
agregarservicio.js
prueba.html
funcion2.php
funcion.php
connect.php
datos.html
iniciars.html
proyectos.html
registro.html
